<div class="card">
  <div class="card-header">
    Insurance policy covering
  </div>
  <div class="card-body">
    <form class="form-inline" [formGroup]="coveringForm" (ngSubmit)="onSubmit(coveringForm)">
      <label class="sr-only" for="coverageTypeId">Coverage</label>
      <select class="form-control  mb-2 mr-sm-2" formControlName="coverageTypeId">
        <option value="">Covering type</option>
        <option *ngFor="let coverageType of coverageTypeList" [value]="coverageType.coverageTypeId">
          {{coverageType.description}}
        </option>
      </select>
      <label class="sr-only" for="percentage">Percentage</label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">%</div>
        </div>
        <input type="text" class="form-control" formControlName="percentage" placeholder="Percentage">
      </div>
      <button type="submit" class="btn btn-primary mb-2" [disabled]="!coveringForm.valid">Save</button>
    </form>
    <div class="col-md-12" *ngIf="error">
      <p class="text text-danger">{{errorMessage}}</p>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li *ngFor="let covering of currentPolicyCovering" class="list-group-item">
      <div class="col-md-12">
        <div class="float-left">Covering type: {{covering.coverageType.description}}</div>
        <div class="float-right">Percentage: {{covering.percentage}}</div>
      </div>
    </li>
  </ul>
</div>

